@model IEnumerable<CSHTGT.ViewModels.CanBoViewModel>

@{
    ViewData["Title"] = "Danh Sách Cán Bộ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class=" container-fluid">
        <h1 class="mt-4">Quản lý Cán bộ</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách Cán bộ</li>
        </ol>
        <p>
            <a asp-action="AddCanBo">Thêm cán bộ</a>
        </p>
        <div class="table-responsive">
        <table class="table-borderless" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IDCanBo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaDonVi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoTen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CMND)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgaySinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDT)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDCanBo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaDonVi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CMND)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgaySinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.IDCanBo }) |
                            @Html.ActionLink("Xóa", "DeleteCB", new { id = item.IDCanBo })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     </div>
</div>
