@model IEnumerable<CSHTGT.ViewModels.PhuongTienGetViewModel>

@{ ViewData["Title"] = "Danh sách phương tiện";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Danh sách phương tiện</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item">Danh sách phương tiện</li>
    </ol>
    <p>
        <div class="form-group">
            <a class="btn btn-primary" asp-action="AddPhuongTien" asp-controller="PhuongTien">Tạo mới</a>
        </div>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        CMND chủ xe
                    </th>
                    <th>
                        Tên phương tiện
                    </th>
                    <th>
                        Biển số
                    </th>
                    <th>
                        Nhãn hiệu
                    </th>
                    <th>
                        Số chỗ ngồi
                    </th>
                    <th>
                        Số khung
                    </th>
                    <th>
                        Số máy
                    </th>
                    <th>
                        Tải trọng
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Loại phương tiện
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TenPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BienSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoChoNgoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoKhung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoMay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiTrong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiPhuongTien)

        </td>
        <td>

            @Html.ActionLink("Sửa", "UpdatePT", new { id = item.MaPT })

            @Html.ActionLink("Xóa", "DeletePT", new { id = item.MaPT })

        </td>
    </tr>}
            </tbody>
        </table>
    </div>

</div>
