@model IEnumerable<CSHTGT.ViewModels.PhuongTien_NTGGTViewModel>

@{
    ViewData["Title"] = "Hồ sơ đăng kí phương tiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Hồ sơ đăng kí phương tiện</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item">Hồ sơ đăng kí phương tiện</li>
    </ol>
    <p>
        @*<div class="form-group">
            <a class="btn btn-primary" asp-action="AddPhuongTien" asp-controller="PhuongTien">Tạo mới</a>
        </div>*@
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>                      
                        Họ tên
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        CMND
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Quê quán
                    </th>
                    <th>
                        SĐT
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Tên phương tiện
                    </th>
                    <th>
                        Biển số
                    </th>
                    <th>
                        Nhãn hiệu
                    </th>
                    <th>
                        Số chỗ ngồi
                    </th>
                    <th>
                        Số khung
                    </th>
                    <th>
                        Số máy
                    </th>
                    <th>
                        Loại phương tiện
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CMND)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgaySinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QueQuan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PassWord)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenPT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BienSo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NhanHieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoChoNgoi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoKhung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoMay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaLoaiPhuongTien)

                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "UpdatePT", new { id = item.ID })
                            @Html.ActionLink("Xóa", "DeletePT", new { id = item.MaPT })

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    
</div>
 