@model Test.Models.BBVPViewModel

@{
    ViewData["Title"] = "Delete";
}
<style>
    dt, dd {
        padding: 5px;
        font-size: 14px;
    }

    .button {
        padding: 5px 10px;
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        margin-left: 127px;
        border-radius: 5px;
    }

        .button:hover {
            background-color: #ff3333;
            color: white;
        }

    .back:hover {
        text-decoration: none;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3>Are you sure you want to delete this?</h3>
<div>
    <h3>Bien ban vi pham</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HanNopPhat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HanNopPhat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaNgTGGiaoThong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNgTGGiaoThong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaHinhThucXuPhat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaHinhThucXuPhat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaCanBo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaCanBo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoiViPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoiViPham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayViPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayViPham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoQuyetDinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoQuyetDinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoTienPhat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoTienPhat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangNopPhat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TinhTrangNopPhat)
        </dd>

        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaBienBan" />
        <input type="submit" value="Delete" class="button" />
        <br />
        <br />
        <a class="back" asp-action="Index"><i class="fa fa-angle-double-left"></i> Back to List</a>
    </form>
</div>
