@model IEnumerable<CSHTGT.Data.Models.BienBanViPham>

@{
    ViewData["Title"] = "Index";
}

<h2 style="justify-content: center; justify-items: center; display: grid; margin: 20px;">Quản lý vi phạm giao thông</h2>

<div style=" display: flex; justify-content: flex-end;">
    <a asp-action="Create" style="margin-right: 30px; margin-bottom: 10px">Tạo mới</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày vi phạm
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Hạn nộp phạt
            </th>
            <th>
                Lỗi vi phạm
            </th>     
            <th>
                Số tiền phạt
            </th>
            <th>
                Tình trạng nộp phạt
            </th>
            <th>
                Người tham gia giao thông
            </th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayViPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanNopPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoiViPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangNopPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiThamGiaGiaoThong.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBienBan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaBienBan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaBienBan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
