@model IEnumerable<CSHTGT.ViewModels.BienBanViPhamViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách biên bản vi phạm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item">Biên bản vi phạm</li>
    </ol>
    <p>
        <div class="form-group">
            <a class="btn btn-primary" asp-action="AddBBVP" asp-controller="BienBanViPham">Tạo mới</a>
        </div>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Mã người tham gia giao thông

                    </th>
                    <th>
                        Mã hình thức xử phạt
                    </th>
                    <th>
                        Mã cán bộ
                    </th>
                    <th>
                        Ngày lập
                    </th>
                    <th>
                        Ngày vi phạm
                    </th>
                    <th>
                        Hạn nộp phạt
                    </th>
                    <th>
                        Lỗi vi phạm
                    </th>
                    <th>
                        Số quyết định
                    </th>
                    <th>
                        Số tiền phạt
                    </th>

                    <th>
                        Tình trạng nộp phạt
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.MaNgTGGiaoThong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaHinhThucXuPhat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaCanBo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayLap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayViPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HanNopPhat)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoiViPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoQuyetDinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoTienPhat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TinhTrangNopPhat)
                        </td
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.MaBienBan })
                            @Html.ActionLink("Xóa", "DeleteBBVP", new { id = item.MaBienBan })

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>


</div>
